.list {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  flex: none;
}

.item:nth-child(1) {
  width: 138px;
}

.item:nth-child(2) {
  width: 141px;
}

.item:nth-child(3) {
  width: 133px;
}

.item:nth-child(4) {
  width: 151px;
}
